* {
    margin: 0%;
}
.heading {
    margin-top: 20px;
    padding: 100px;
    top: 1px;
    height: 300px;
    position: sticky;
    display: flex; 
    justify-content: space-evenly;
    background-color: rgb(247, 170, 170);
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 600;
} 
.log {
    padding:  10px ;
    text-align: center;
}
.navbar{
    display: flex;
    padding: 50px;
    gap: 150px;
    text-align: center;
}
.navbar div a:hover{
    color: rgb(34, 103, 182);
}
a {
    text-decoration: none;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(247, 170, 170);;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.infro {
    display: grid;
    margin-top:20px ;
    padding: 20px;
    height: 900px;
    grid-template-columns: auto auto;
    column-gap: 200px;
}
.infro img {
    height: 900px;
    border-radius: 1%;
}
.information {
    font-family: "inter";
    font-size: 40px;
    text-align: justify;
    padding-right: 60%;
}
#gobal {
    color: #008BD0;
    font-size: 55px;
    font-weight: 500;
    font-family: sans-serif;
}
h2 {
    color: black;
    font-size: 60px;
    font-family: sans-serif;
}
hr {
    margin-top: 5%;
    width: 90%;
    color: #080000;
}
button  {
    margin-top: 5%;
    margin-left:19% ;
    height: 10%;
    width: 30%;
    text-align: center;
    background-color: #008BD0;
}
button a {
    color: white;
    font-family: "Inter";
    font-size: 40px;
}
button :hover {
    background-color: rgb(54, 185, 236);
    font-family: "Inter";
    font-size: 40px;
}
.courses {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
   
}
.views  {
    display: flex;
    justify-content: space-between;
    color: #2F3C7E;
    font-family: "Inter";
    font-size: 60px;
}
.views a {
 color:#008BD0;    
}
.list {
    padding: 50px;
    height: max-content;
    width: 100%;
    background-color:  #F9E795;
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
   
}
.list p{
    font-family: "Montserrat",sans-serif;
    font-size: 40px;
    font-weight: 790;
    color:#008BD0;

}

.partner {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    background-color: #777;
    
}
.silder {
    height: 250px;
    margin: auto;
    width: 90%;
    display: flex;
    
}
.silder img {
    height: 200px;
    width: 250px;
    padding: 15px;
}
.footer {
    margin-top: 50px;
    padding: 100px;
    height: max-content;
    background-color: rgb(204, 203, 206);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: justify;
}
#Rights {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
}
